body {
    background: #eef;
    font-family: sans-serif;
    padding: 0px;
}

#menu {
    background: #fee;
    border: 1px solid #999;
    border-left: 3px solid #999;
    border-top: 2px solid #999;

    position: absolute;
    left: 20px;
    top: 20px;
    width: 200px;
    min-height: 50px;
}

#menu a {
    background: #f76;
    color: black;
    display: block;
    text-align: center;

    position: relative;
    width: 170px;
    margin: 10px;
    padding: 5px;
}

#menu a:hover {
    background: #f98;
    text-decoration: none;
}

#page {
    background: #eee;
    border: 1px solid #999;
    border-left: 3px solid #999;
    border-top: 2px solid #999;
    padding: 2px;

    position: absolute;
    left: 240px;
    top: 20px;
    width: 750px;
    min-height: 200px;
}
