/******************/
/*  BASE & LAYOUT */
/******************/

body {
    background: #3b3b3b;
    color: white;
    font-family: verdana, sans, sans-serif;
    padding: 0 15px;
}

#container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 0 auto;
    max-width: 1200px;
    min-width: 750px;
}

.clearfloat:after {
    clear: both;
    content: ".";
    display: block;
    height: 0px;
    line-height: 0px;
    visibility: hidden;
}

div.column {
    float: left;
}

a, a:visited {
    color: #f5f5f5;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/******************/
/*     CONTENT    */
/******************/

#content {
    position: relative;
    padding: 10px 0;
}

/******************/
/*     HEADER     */
/******************/

#header {
    font-size: 3em;
    font-weight: bold;
    text-shadow: 1px 1px 3px black;
}

#header img.header_logo {
    padding: 0px 20px;
    vertical-align: middle;
}

/******************/
/* NAVIGATION BAR */
/******************/

#navbar {
    background: #a90707;
    border-radius: 5px;
    box-shadow: 0 2px 7px #333;
    font-size: 110%;
    font-weight: bold;
    height: 40px;
    margin: 15px auto;
    text-shadow: 1px 1px 0 #000;
}

#navbar ul {
    list-style: none outside none;
    height: 100%;
}

#navbar li {
    display: inline-block;
    margin: 0px;
    height: 100%;
    line-height: 40px;
    padding: 0px 7.5px;
}

#navbar li.active {
    background: rgba(0, 0, 0, 0.1);
}

#navbar li.active a {
    text-decoration: none;
}

/******************/
/*    SIDE MENU   */
/******************/

.sidemenu {
    width: 190px;
    padding: 10px;
}

.sidemenu div.menuitem {
    background: #f5f5f5;
    border-radius: 5px;
    box-shadow: 1px 1px 4px black;
    color: black;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.sidemenu div.menuheader {
    background: #b80a0a;
    border: 0 none;
    color: white;
    font-weight: bold;
    padding: 1px;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
}

.sidemenu div.menucontent {
    padding: 10px;
}

.sidemenu a {
    color: #004274;
    text-decoration: none;
}

.sidemenu a:hover {
    text-decoration: underline;
}
