{% extends 'lanciesite/base.html' %}
{% load staticfiles %}

{% block css %}{% endblock css %}

{% block title %}{{ event_title }} - LanCie{% endblock title %}

{% block header %}{{ event_title }}{% endblock header %}

{% block navbar %}
{% block navbar-home %}<li><a href="{% url 'pub:home' %}">Home</a></li>{% endblock navbar-home %}
{% block navbar-register %}<li><a href="{% url 'pub:register' %}">Register</a></li>{% endblock navbar-register %}
{% block navbar-checklist %}<li><a href="{% url 'pub:checklist' %}">Checklist</a></li>{% endblock navbar-checklist %}
{% block navbar-about %}<li><a href="{% url 'pub:about' %}">About</a></li>{% endblock navbar-about %}
{% block navbar-contact %}<li><a href="{% url 'pub:contact' %}">Contact</a></li>{% endblock navbar-contact %}
{% endblock navbar %}




{% block content %}{% endblock content %}



{% block footer %}LanCie{% endblock footer %}