Hello $first_name $last_name,

Thank you for registering for $event. Please inform us if the information below is in error.

    [First Name]: $first_name
    [Last Name]: $last_name
    [Email]: $email
    [Address]: $address
    [City]: $city
    [Bank account number]: $iban
    [Telephone Number]: $phone_number
    [Amount of PCs]: $pcs
    [Friday]: $friday
    [Saturday]: $saturday
    [Sunday]: $sunday
    [Transport Service]: $transport
    [Cover member]: $cover_member
    [Charge]: $price
    [Comment]: $comment

Kind regards,

The LanCie
