{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
    <link href="{% static 'lanciesite/style.css' %}" rel="stylesheet" type="text/css" />
    {% block css %}{% endblock css %}
    {% block scripts %}{% endblock scripts %}
    <title>{% block title %}You shouldn't see this title{% endblock title %}</title>
</head>
<body>

<div id="header">{% block header %}{% endblock header %}</div>

<div id="navbar">{% block navbar %}{% endblock navbar %}</div>

<div id="content">{% block content %}You shouldn't see this text{% endblock content %}</div>

<div id="footer">{% block footer %}{% endblock footer %}</div>

</body>
</html>
