{% load staticfiles %}
<!DOCTYPE html>

<html>
<head>
    <link href="{% url 'base_style' %}" rel="stylesheet" type="text/css" />
    {% block css %}{% endblock css %}
    {% block scripts %}{% endblock scripts %}
    <title>{% block title %}You shouldn't see this title{% endblock title %}</title>
</head>
<body>

<div id="header">
    <img class="header_logo" src="{% static 'lanciesite/LanCie.png' %}" />
    {% block header %}LanCie{% endblock header %}
</div>

<div id="navbar">{% block navbar %}{% endblock navbar %}</div>

<div id="container" class="clearfloat">&nbsp;{%block container %}
    <div id="content" class="column">
        {% block content %}
            <div class="messagebox">You shouldn't see this text</div>
        {% endblock content %}
    </div>
    <div id="leftmenu" class="column sidemenu">
        {% block leftmenu %}
        <div class="menuitem">
            <div class="menuheader">Example</div>
            <div class="menucontent">
                Example text<br />
                <a href="/test">This is an example link</a><br />
                Please override this example in sub-templates.
            </div>
        </div>
        {% endblock leftmenu %}
    </div>
    <div id="rightmenu" class="column sidemenu">
        {% block rightmenu %}
        <div class="menuitem">
            <div class="menuheader">Right example</div>
            <div class="menucontent">This is an example on the other side of the screen.</div>
        </div>
        {% endblock rightmenu %}
    </div>
{%endblock container %}</div>

<div id="footer">{% block footer %}{% endblock footer %}</div>

</body>
</html>
