/******************/
/*  BASE & LAYOUT */
/******************/

body {
    background: {{ base_background }};
    color: {{ base_foreground }};
    font-family: {{ base_fonts }};
    padding: 0 {{ page_padding }}px;
}

#container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: {{ border_radius }}px;
    margin: 0 auto;
    max-width: {{ page_max_width }}px;
    min-width: {{ page_min_width }}px;
    padding-left: {{ left_column_width }}px;
    padding-right: {{ right_column_width }}px;
}

.clearfloat:after {
    clear: both;
    content: ".";
    display: block;
    height: 0px;
    line-height: 0px;
    visibility: hidden;
}

div.column {
    float: left;
}

a, a:visited {
    color: {{ base_link_color }};
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 150%;
    font-weight: bold;
    text-shadow: 1px 1px 1px {{ shadow_color }};
}

/******************/
/*     CONTENT    */
/******************/

#content {
    position: relative;
    padding: {{ column_padding }}px 0;
    width: 100%;
}

div.messagebox {
    background: {{ light_background }};
    border-bottom-left-radius: {{ border_radius }}px;
    border-bottom-right-radius: {{ border_radius }}px;
    color: {{ dark_foreground }};
    margin-bottom: {{ content_bottom_space }}px;
    padding: {{ base_padding }}px;
}

div.messagebox a {
    color: {{ light_link_color }};
}

/******************/
/*     HEADER     */
/******************/

#header {
    font-size: 3em;
    font-weight: bold;
    text-shadow: 1px 1px 3px {{ shadow_color }};
}

#header img.header_logo {
    padding: 0px 20px;
    vertical-align: middle;
}

/******************/
/* NAVIGATION BAR */
/******************/

#navbar {
    background: {{ navbar_background }};
    border-radius: {{ border_radius }}px;
    box-shadow: 0 2px 7px {{ shadow_color_light }};
    font-size: 110%;
    font-weight: bold;
    height: {{ navbar_height }}px;
    margin: {{ page_padding }}px auto;
    text-shadow: 1px 1px 0 {{ shadow_color }};
}

#navbar ul {
    list-style: none outside none;
    height: 100%;
}

#navbar li {
    display: inline-block;
    margin: 0px;
    height: 100%;
    line-height: {{ navbar_height }}px;
    padding: 0px {{ navbar_list_padding }}px;
}

#navbar li.active {
    background: {{ navbar_active_bg }};
}

#navbar li.active a {
    text-decoration: none;
}

/******************/
/*    SIDE MENU   */
/******************/

#leftmenu {
    margin-left: -100%;
    right: {{ left_column_width }}px;
    width: {{ left_menu_width }}px;
}

#rightmenu {
    margin-right: -{{ right_column_width }}px;
    width: {{ right_menu_width }}px;
}

.sidemenu {
    padding: {{ column_padding }}px;
    position: relative;
}

.sidemenu div.menuitem {
    background: {{ light_background }};
    border-radius: {{ border_radius }}px;
    box-shadow: 1px 1px 4px {{ shadow_color }};
    color: {{ dark_foreground }};
    margin-bottom: {{ menu_item_spacing }}px;
    padding-bottom: {{ menu_item_padding }}px;
}

.sidemenu div.menuheader {
    background: {{ menu_header_color }};
    border: 0 none;
    color: {{ light_foreground }};
    font-weight: bold;
    padding: 1px;
    text-align: center;
    text-shadow: 1px 1px 0 {{ shadow_color }};
}

.sidemenu div.menucontent {
    padding: {{ base_padding }}px;
}

.sidemenu a {
    color: {{ light_link_color }};
    text-decoration: none;
}

.sidemenu a:hover {
    text-decoration: underline;
}
